img {
  height: 25rem;
}

h1 {
  font-family: Zen Antique;
  color: black;
  font-weight: 30;
}

body {
  background-image: linear-gradient(to right, #DECBA4, #3E5151);
}

input {
  border-radius: 5px;
 
}

.card {
  font-family: Zen Antique;
  width: 20rem;
  margin: 10px;
}

.card:hover {
  transform: scale(1.05);
}


.characters {
  display: inline-flex;
  flex-flow: row wrap;
  margin-left: 70px;
}

.title {
  text-align: center;
}

.search {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  height: 40px;
}